@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.about{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

/* .about .container{
    transform: translateX(-100%);
}

.about.show-animate .container{
    transform: translateX(-100%);
} */

.image img{
    border-radius: 12px;
}

.artikel{
    margin-left: 90px;
    margin-top: 20px;
    font-size: 20px;
}

.artikel h1{
    text-align: center;
    margin-bottom: 10px;
}

.artikel p{
    border-bottom: 2px solid rgb(116, 254, 106);
    margin-top: 20px;
    padding-top: 20px;
}

.button a{
    border-radius: 12px;
    color: black;
    font-size: 20px;
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid rgb(116, 254, 106);
    margin-top: 20px;
    margin-left: 87px;
    text-decoration: none;
}

.button a:hover{
    background-color: rgb(116, 254, 106);
    transition-duration: 1s;
}

section{
    background-color: rgb(116, 254, 106);
}

.skill{
    text-align: center;
    margin-top: 20px;
}

.skill h2{
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
}

.alamat{
    text-align: center;
}

.alamat h1{
    padding-top: 50px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
}

.skill-bar{
    width: 500px;
    margin: 60px auto;
    color: #fff;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 14px rgb(0, 0, 0, 0.25), 0 10px 10px rgb(0, 0, 0, 0.22);
}

.skill-bar h2{
    color: rgb(116, 254, 106);
}

.skill li{
    margin: 20px 0;
    padding: 10px;
    list-style: none;
    color: rgb(116, 254, 106);
}

.bar{
    background-color: white;
    display: block;
    height: 20px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgb(0, 0, 0, 0.12), 0 1px 2px rgb(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bar:hover{
    box-shadow: 0 14px 28px rgb(0, 0, 0, 0.25), 0 10px 10px rgb(0, 0, 0, 0.22);
}

.bar span{
    height: 20px;
    float: left;
    background: linear-gradient( 135deg, rgba(116, 254, 106, 1)0%, rgba(256,103,103,1)100%);
}

.html{
    width: 90%;
    animation: html 3s;
}

.css{
    width: 70%;
    animation: css 3s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

iframe{
    border-radius: 12px;
}

footer{
    background-color: black;
    text-align: center;
    padding: 20px 0 20px 0;
}

