@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.about{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

/* .about .container{
    transform: translateX(-100%);
}

.about.show-animate .container{
    transform: translateX(-100%);
} */

.image img{
    border-radius: 12px;
}

.artikel{
    margin-left: 90px;
    margin-top: 20px;
    font-size: 20px;
}

.artikel h1{
    text-align: center;
    margin-bottom: 10px;
}

.artikel p{
    border-bottom: 2px solid rgb(116, 254, 106);
    margin-top: 20px;
    padding-top: 20px;
}

.button a{
    border-radius: 12px;
    color: black;
    font-size: 20px;
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid rgb(116, 254, 106);
    margin-top: 20px;
    margin-left: 87px;
    text-decoration: none;
}

.button a:hover{
    background-color: rgb(116, 254, 106);
    transition-duration: 1s;
}

section{
   background-color: rgb(116, 254, 106);
}

.skill{
    text-align: center;
    margin-top: 20px;
}

.skill h1{
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
}

.alamat{
    text-align: center;
}

.alamat h1{
    padding-top: 50px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
}

iframe{
    border-radius: 12px;
}

footer{
    background-color: black;
    text-align: center;
    padding: 20px 0 20px 0;
}

/* .about{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden{
    opacity: 0;
    transition: 1s;
}

@media(prefers-recude-motion) {
    .hidden{
        transition: none;
    }
}  */